openapi: 3.1.0
info:
  title: CogniStream API
  version: 1.1.0
  description: >
    AI-to-AI payment infrastructure with escrow, reputation, disputes,
    billing, Stripe Connect, and usage metering.
  contact:
    name: CogniStream
    url: https://github.com/Cognistream-org/cognistream-engine-

servers:
  - url: https://api.cognistream.io
    description: Production
  - url: http://localhost:3001
    description: Local development

tags:
  - name: Health
  - name: Agents
  - name: API Keys
  - name: Transactions
  - name: Disputes
  - name: Overview
  - name: Realtime
  - name: Billing
    description: Subscriptions, invoices, usage metering, and plan limits
  - name: Stripe Connect
    description: Connect Express accounts for seller payouts
  - name: Webhooks
    description: Incoming Stripe webhook receiver (signature-verified)

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code:
              type: string
            message:
              type: string
            requestId:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: string
                  message:
                    type: string

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    Agent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        status:
          type: string
          enum: [active, inactive]
        walletAddress:
          type: string
        reputationScore:
          type: number
        createdAt:
          type: string
          format: date-time

    CreateAgentRequest:
      type: object
      required: [name, slug, walletAddress]
      properties:
        name:
          type: string
        slug:
          type: string
        walletAddress:
          type: string
        metadata:
          type: object
          additionalProperties: true

    ApiKeyMetadata:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        keyPrefix:
          type: string
        scopes:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        revokedAt:
          type: string
          format: date-time
          nullable: true

    CreateApiKeyRequest:
      type: object
      required: [name, scopes]
      properties:
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        expiresAt:
          type: string
          format: date-time

    CreatedApiKey:
      allOf:
        - $ref: '#/components/schemas/ApiKeyMetadata'
        - type: object
          properties:
            key:
              type: string
              description: Plaintext key — shown once only

    Transaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        amountCents:
          type: string
        buyerAgentId:
          type: string
        sellerAgentId:
          type: string
        description:
          type: string
        escrowStatus:
          type: string
        createdAt:
          type: string
          format: date-time

    CreateTransactionRequest:
      type: object
      required: [sellerAgentId, amountCents]
      properties:
        sellerAgentId:
          type: string
          format: uuid
        amountCents:
          type: integer
          minimum: 1
        description:
          type: string
        idempotencyKey:
          type: string
          maxLength: 64

    ReleaseEscrowRequest:
      type: object
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
        review:
          type: string

    Dispute:
      type: object
      properties:
        id:
          type: string
          format: uuid
        transactionId:
          type: string
        status:
          type: string
          enum: [open, resolved]
        reason:
          type: string
        resolution:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    CreateDisputeRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string

    ResolveDisputeRequest:
      type: object
      required: [resolution]
      properties:
        resolution:
          type: string
          enum: [refund_buyer, release_seller]
        notes:
          type: string

    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, error]
        timestamp:
          type: string
          format: date-time
        services:
          type: object
          properties:
            database:
              type: string
              enum: [up, down]
            redis:
              type: string
              enum: [up, down]

    OverviewResponse:
      type: object
      properties:
        organization:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            slug:
              type: string
            tier:
              type: string
            balanceCents:
              type: string
        stats:
          type: object
          properties:
            transactionsThisMonth:
              type: integer
            volumeCentsThisMonth:
              type: string
            activeAgents:
              type: integer

    OrganizationTier:
      type: string
      enum: [free, developer, enterprise]

    BillingCycle:
      type: string
      enum: [monthly, yearly]

    BillingPricing:
      type: object
      properties:
        name:
          type: string
        monthlyPriceCents:
          type: integer
        yearlyPriceCents:
          type: integer
        limits:
          type: object
          additionalProperties:
            type: integer
        features:
          type: object
          additionalProperties:
            type: boolean
        platformFeeBasisPoints:
          type: integer
          description: Platform fee in basis points (1 bp = 0.01%)
        overage:
          type: object
          nullable: true
          properties:
            apiCallCents:
              type: integer
            transactionCents:
              type: integer

    Subscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        tier:
          $ref: '#/components/schemas/OrganizationTier'
        status:
          type: string
          description: active | trialing | past_due | canceled | incomplete
        stripeSubscriptionId:
          type: string
          nullable: true
        stripeCustomerId:
          type: string
          nullable: true
        trialEndsAt:
          type: string
          format: date-time
          nullable: true
        currentPeriodStart:
          type: string
          format: date-time
        currentPeriodEnd:
          type: string
          format: date-time
        cancelAtPeriodEnd:
          type: boolean
        canceledAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    BillingProfile:
      type: object
      required: [organization, subscription, pricing]
      properties:
        organization:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            slug:
              type: string
            tier:
              $ref: '#/components/schemas/OrganizationTier'
            balanceCents:
              type: string
              description: Integer cents as string
        subscription:
          oneOf:
            - $ref: '#/components/schemas/Subscription'
            - type: 'null'
        pricing:
          $ref: '#/components/schemas/BillingPricing'

    CheckoutRequest:
      type: object
      required: [tier, successUrl, cancelUrl]
      properties:
        tier:
          type: string
          enum: [developer, enterprise]
        cycle:
          $ref: '#/components/schemas/BillingCycle'
          default: monthly
        successUrl:
          type: string
          format: uri
        cancelUrl:
          type: string
          format: uri

    CheckoutSession:
      type: object
      required: [url, sessionId]
      properties:
        url:
          type: string
          format: uri
        sessionId:
          type: string

    PortalSession:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: Stripe Customer Portal URL

    ChangeTierRequest:
      type: object
      required: [tier]
      properties:
        tier:
          $ref: '#/components/schemas/OrganizationTier'
        cycle:
          $ref: '#/components/schemas/BillingCycle'

    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        subscriptionId:
          type: string
          nullable: true
        stripeInvoiceId:
          type: string
          nullable: true
        invoiceNumber:
          type: string
        status:
          type: string
        amountDueCents:
          type: string
        amountPaidCents:
          type: string
        currency:
          type: string
        pdfUrl:
          type: string
          nullable: true
        hostedUrl:
          type: string
          nullable: true
        dueDate:
          type: string
          format: date-time
          nullable: true
        paidAt:
          type: string
          format: date-time
          nullable: true
        lineItems:
          description: Stripe line items snapshot
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UsageMeter:
      type: object
      properties:
        usage:
          type: integer
        limit:
          type: integer
        hardLimit:
          type: integer

    UsageSummary:
      type: object
      properties:
        orgId:
          type: string
          format: uuid
        billingPeriod:
          type: string
          description: YYYY-MM
        tier:
          $ref: '#/components/schemas/OrganizationTier'
        meters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UsageMeter'
          description: Keys include api_calls, transactions, transaction_volume_cents

    LimitsResponse:
      type: object
      properties:
        tier:
          $ref: '#/components/schemas/OrganizationTier'
        limits:
          type: object
          additionalProperties:
            type: integer
        usage:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UsageMeter'
        softLimitRatio:
          type: number
          description: Soft warning threshold (0.8)
        hardLimitRatio:
          type: number
          description: Free = 1.0; paid tiers = 1.2

    StripeConnectAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        stripeAccountId:
          type: string
        status:
          type: string
        chargesEnabled:
          type: boolean
        payoutsEnabled:
          type: boolean
        onboardingUrl:
          type: string
          nullable: true
        onboardingUrlExpiresAt:
          type: string
          format: date-time
          nullable: true
        defaultCurrency:
          type: string
        country:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateConnectAccountRequest:
      type: object
      required: [country]
      properties:
        country:
          type: string
          minLength: 2
          maxLength: 2
          description: ISO 3166-1 alpha-2 country code (normalized to lowercase)

    ConnectOnboardingRequest:
      type: object
      required: [returnUrl, refreshUrl]
      properties:
        returnUrl:
          type: string
          format: uri
        refreshUrl:
          type: string
          format: uri

    OnboardingLinkResponse:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri

    StripeWebhookEvent:
      type: object
      description: Raw Stripe Event payload (verified via Stripe-Signature)
      properties:
        id:
          type: string
        object:
          type: string
          enum: [event]
        type:
          type: string
          description: >
            Handled types include account.updated, customer.subscription.*,
            invoice.*, transfer.created / transfer.failed
        data:
          type: object
          properties:
            object:
              type: object
              additionalProperties: true
        created:
          type: integer
        livemode:
          type: boolean

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      security: []
      responses:
        '200':
          description: All services healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
        '503':
          description: Degraded or error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'

  /v1/agents:
    post:
      tags: [Agents]
      summary: Create agent
      operationId: createAgent
      x-scopes: [write:agents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '409':
          description: Slug conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags: [Agents]
      summary: List agents
      operationId: listAgents
      x-scopes: [read:agents]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
      responses:
        '200':
          description: Paginated agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /v1/agents/{id}:
    get:
      tags: [Agents]
      summary: Get agent
      operationId: getAgent
      x-scopes: [read:agents]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agent with reputation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Agent'
                  - type: object
                    properties:
                      reputation:
                        type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/agents/{id}/activate:
    post:
      tags: [Agents]
      summary: Activate agent
      operationId: activateAgent
      x-scopes: [write:agents]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'

  /v1/agents/{id}/deactivate:
    post:
      tags: [Agents]
      summary: Deactivate agent
      operationId: deactivateAgent
      x-scopes: [write:agents]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'

  /v1/api-keys:
    post:
      tags: [API Keys]
      summary: Create API key
      operationId: createApiKey
      x-scopes: [admin:keys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: Created with plaintext key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedApiKey'
    get:
      tags: [API Keys]
      summary: List API keys
      operationId: listApiKeys
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Paginated keys (metadata only)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKeyMetadata'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /v1/api-keys/{id}:
    delete:
      tags: [API Keys]
      summary: Revoke API key
      operationId: revokeApiKey
      x-scopes: [admin:keys]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyMetadata'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/transactions:
    post:
      tags: [Transactions]
      summary: Create transaction
      operationId: createTransaction
      x-scopes: [write:transactions]
      parameters:
        - name: X-Agent-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransactionRequest'
      responses:
        '201':
          description: Created
        '200':
          description: Idempotent duplicate
        '402':
          description: Insufficient balance
        '429':
          description: Rate limited
    get:
      tags: [Transactions]
      summary: List transactions
      operationId: listTransactions
      x-scopes: [read:transactions]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated transactions

  /v1/transactions/{id}:
    get:
      tags: [Transactions]
      summary: Get transaction
      operationId: getTransaction
      x-scopes: [read:transactions]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Transaction
        '404':
          description: Not found

  /v1/transactions/{id}/release:
    post:
      tags: [Transactions]
      summary: Release escrow
      operationId: releaseEscrow
      x-scopes: [write:transactions]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseEscrowRequest'
      responses:
        '200':
          description: Released
        '409':
          description: Invalid state

  /v1/transactions/{id}/dispute:
    post:
      tags: [Transactions, Disputes]
      summary: Open dispute
      operationId: createDispute
      x-scopes: [write:transactions]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Agent-Id
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDisputeRequest'
      responses:
        '201':
          description: Dispute opened

  /v1/disputes:
    get:
      tags: [Disputes]
      summary: List disputes
      operationId: listDisputes
      x-scopes: [read:transactions]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated disputes

  /v1/disputes/{id}:
    get:
      tags: [Disputes]
      summary: Get dispute
      operationId: getDispute
      x-scopes: [read:transactions]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dispute with transaction

  /v1/disputes/{id}/resolve:
    post:
      tags: [Disputes]
      summary: Resolve dispute
      operationId: resolveDispute
      x-scopes: [admin:disputes]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveDisputeRequest'
      responses:
        '200':
          description: Resolved

  /v1/overview:
    get:
      tags: [Overview]
      summary: Organization overview
      operationId: getOverview
      x-scopes: [read:transactions]
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewResponse'

  /v1/stream:
    get:
      tags: [Realtime]
      summary: WebSocket event stream
      description: Upgrade to WebSocket. Authenticate with api_key query parameter.
      security: []
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        '101':
          description: Switching Protocols

  /v1/billing/profile:
    get:
      tags: [Billing]
      summary: Get billing profile
      description: Returns organization tier, current subscription, and pricing config for the authenticated org.
      operationId: getBillingProfile
      x-scopes: [read:billing]
      responses:
        '200':
          description: Billing profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/billing/checkout:
    post:
      tags: [Billing]
      summary: Create Stripe Checkout session
      description: Starts a Stripe Checkout session to upgrade to Developer or Enterprise.
      operationId: createBillingCheckout
      x-scopes: [write:billing]
      parameters:
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/billing/portal:
    get:
      tags: [Billing]
      summary: Open Stripe Customer Portal
      description: Returns a Stripe Customer Portal URL for managing payment methods and invoices.
      operationId: getBillingPortal
      x-scopes: [read:billing, write:billing]
      parameters:
        - name: returnUrl
          in: query
          required: true
          schema:
            type: string
            format: uri
      responses:
        '200':
          description: Portal session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalSession'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/billing/subscription:
    get:
      tags: [Billing]
      summary: Get subscription
      description: Returns the organization subscription record.
      operationId: getSubscription
      x-scopes: [read:billing]
      responses:
        '200':
          description: Subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Subscription not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags: [Billing]
      summary: Change subscription tier
      description: Upgrades or downgrades the organization tier (may sync with Stripe).
      operationId: changeSubscriptionTier
      x-scopes: [write:billing]
      parameters:
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeTierRequest'
      responses:
        '200':
          description: Updated subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags: [Billing]
      summary: Cancel subscription
      description: Cancels at period end (or immediately per Stripe configuration).
      operationId: cancelSubscription
      x-scopes: [write:billing]
      parameters:
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 64
      responses:
        '200':
          description: Canceled subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/billing/invoices:
    get:
      tags: [Billing]
      summary: List invoices
      description: Paginated invoices for the organization.
      operationId: listInvoices
      x-scopes: [read:billing]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Paginated invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/billing/invoices/{id}:
    get:
      tags: [Billing]
      summary: Get invoice
      description: Returns a single invoice by UUID.
      operationId: getInvoice
      x-scopes: [read:billing]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/billing/usage:
    get:
      tags: [Billing]
      summary: Get usage summary
      description: Current billing-period usage meters versus soft and hard limits.
      operationId: getBillingUsage
      x-scopes: [read:billing]
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummary'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/billing/limits:
    get:
      tags: [Billing]
      summary: Get plan limits
      description: Tier limits, current usage, and soft/hard limit ratios.
      operationId: getBillingLimits
      x-scopes: [read:billing]
      responses:
        '200':
          description: Limits response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/stripe/connect:
    post:
      tags: [Stripe Connect]
      summary: Create Connect account
      description: Creates a Stripe Connect Express account for the organization (Developer/Enterprise).
      operationId: createStripeConnectAccount
      x-scopes: [write:billing]
      parameters:
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectAccountRequest'
      responses:
        '200':
          description: Connect account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnectAccount'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags: [Stripe Connect]
      summary: Get Connect account
      description: Returns the organization's Stripe Connect account status.
      operationId: getStripeConnectAccount
      x-scopes: [read:billing]
      responses:
        '200':
          description: Connect account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnectAccount'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connect account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags: [Stripe Connect]
      summary: Disconnect Connect account
      description: Disconnects the Stripe Connect account from the organization.
      operationId: disconnectStripeConnectAccount
      x-scopes: [write:billing]
      parameters:
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 64
      responses:
        '204':
          description: Disconnected
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/stripe/connect/onboarding:
    post:
      tags: [Stripe Connect]
      summary: Create onboarding link
      description: Returns a Stripe Account Link URL to complete Connect onboarding.
      operationId: createStripeConnectOnboardingLink
      x-scopes: [write:billing]
      parameters:
        - name: X-Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectOnboardingRequest'
      responses:
        '200':
          description: Onboarding link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingLinkResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connect account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/webhooks/stripe:
    post:
      tags: [Webhooks]
      summary: Stripe webhook receiver
      description: >
        Receives Stripe events. No API key — authenticity is verified via the
        Stripe-Signature header. Idempotent (Redis) so duplicate deliveries are safe.
      operationId: stripeWebhook
      security: []
      parameters:
        - name: Stripe-Signature
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeWebhookEvent'
      responses:
        '200':
          description: Event processed (or already processed)
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
        '400':
          description: Invalid payload or signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Signature verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Related resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
